
  
html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 129, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.timer {
    font-size: 1.5em; /* Adjust the font size as needed */
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed for top right corner */
    color: #fff;
}

.score{
    font-size: 4em;
    margin-bottom: .5em;
}
.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
.hole{
    background-color: rgb(72, 69, 66);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}
.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}
.start-game-card {
    display: flex; /* Initially show the start game card */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Center content vertically and horizontally */
    z-index: 999; /* Ensure it's on top of other elements */
}

.start-game-card h2 {
    font-size: 2.5em; /* Larger font size */
    margin-bottom: 20px; /* More spacing */
    color: #fff;
   text-align: center;
}


.start-game-card button {
    background-color: #4CAF50; /* Custom color for the start button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s; /* Add a smooth transition effect */
    display: block; /* Set button to block element */
}

/* Center the button horizontally */
.start-game-card button {
    margin: 0 auto;
}

.start-game-card button:hover {
    background-color: #45A049; /* Custom color on hover */
}


#pause-button {
    position: absolute;
    top: 40px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
}

.game-over-card {
    display: none; /* Initially hide the game over card */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Set the width as needed */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    text-align: center;
    z-index: 999; /* Ensure it's on top of other elements */
    border-radius: 10px;
    color: white;
}

.game-over-card h2,
.game-over-card p {
    font-size: 2em;
    margin-bottom: 10px;
}

.game-over-card p span {
    font-weight: bold;
    color: #ffea00; /* Yellow color for the score */
}

.game-over-card button {
    background-color: #FF5733; /* Custom color for buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 10px; /* Add margin to separate the buttons */
}

.game-over-card button:hover {
    background-color: #FF8847; /* Custom color on hover */
}

/* Style for the Congratulations card */
.congratulation-card {
    display: none; /* Initially hide the congratulation card */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Set the width as needed */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    text-align: center;
    z-index: 999; /* Ensure it's on top of other elements */
    border-radius: 10px;
    color: white;
}

.congratulation-card h2,
.congratulation-card p {
    font-size: 2em;
    margin-bottom: 10px;
}

.congratulation-card p span {
    font-weight: bold;
    color: #ffea00; /* Yellow color for the score */
}

.congratulation-card button {
    background-color: #4CAF50; /* Custom color for buttons */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.congratulation-card button:hover {
    background-color: #45A049; /* Custom color on hover */
}
