body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./winter.gif");
    background-size: cover;
   background-repeat:no-repeat;
    width:95%;
    height:97vh;
    margin: 0;
    padding: 0;
   overflow:hidden;
   backgound-attachment:fixed;
}

h1 {
    color: #ffffff;
    margin-top: 20px;
}
.a1 {
    position: absolute;
    top: 20px;
    left: 20px; /* Adjust the left position as needed */
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#score {
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}
#pause-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

#timer {
    position: absolute;
    top: 20px;
    right: 80px; /* Adjust the right position as needed */
}

/* Styling for game over and congratulations screens */
#game-over-screen,
#congratulations-screen {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over-screen h2,
#congratulations-screen h2 {
    color: #ffffff;
    font-size: 36px;
}

#game-over-screen p,
#congratulations-screen p {
    color: #ffffff;
    font-size: 24px;
}

#game-over-screen button,
#congratulations-screen button {
    background-color: #0074cc;
    color: #ffffff;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#game-over-screen button:hover,
#congratulations-screen button:hover {
    background-color: #0056a7;
}